@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&family=Hanken+Grotesk:wght@700&family=PT+Sans:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .background {
        background-image: url('assets/bg-recycle.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.3s ease-out;
    }

    .recycle {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #recycle-img {
            position: relative;
            top: 24vh;
            z-index: 2;
            height: 300px;
            transition: transform 0.3s ease-out;

            &:hover {
                transform: translateY(-70px);
            }
        }


        .recycle-text {
            padding-top: 10vh;
            text-transform: uppercase;
            font-family: 'PT Sans', sans-serif;
            font-weight: bold;
            font-size: 2.5em;
            transition: opacity 0.3s ease;

            span {
                color: #538C0B;
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .container {
        .recycle {

            #recycle-img {
                top: 24vh;
                height: 22vw;
            }

            .recycle-text {
                top: 52vh;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .container {
        .recycle {
            #recycle-img {
                top: 22vh;
            }

            .recycle-text {
                top: 5vh;
                font-size: 2em;
            }
        }
    }
}

@media screen and (max-width: 870px) {
    .container {
        .recycle {
            #recycle-img {
                top: 20vh;
            }

            .recycle-text {
                top: 5vh;
                font-size: 30px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .container {

        .background {
            background-image: url('assets/bg-recycle-mobile.png');
            width: 100%;
        }

        .recycle {

            #recycle-img {
                top: 40vw;
                width: 55%;
                height: auto;
            }

            .recycle-text {
                text-align: center;
                width: 52vw;
                font-size: 7vw;
                padding-top: 100px;
            }
        }
    }
}