@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&family=Hanken+Grotesk:wght@700&family=PT+Sans:wght@700&display=swap');

div {
    overflow: hidden;
}

div.container {
    width: 100%;
    height: fit-content;
    overflow-y: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    #bg-image {
        transition: opacity 0.3s ease-out;
    }

    #recycle-img {
        position: fixed;
        z-index: 5;
        transform: translateY(300px);
        transition: transform 0.3s ease-out;
        
        &:hover {
            transform: translateY(250px);
            
        }
    }
    
    
    p {
        position: fixed;
        z-index: 0;
        transform: translateY(65vh);
        // opacity: 0;
        text-transform: uppercase;
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        font-size: 210%;
        transition: opacity 0.3s ease;

        span {
            color: #538C0B;
        }
    }
}